In [1]:
import sys
sys.path.append("/home/chc099/.local/lib/python3.11/site-packages")

In [2]:
import sys
import os
repo_root = os.path.abspath(os.path.join(os.getcwd(), "..", ".."))
sys.path.append(repo_root)

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from scipy.stats import ttest_ind

import re
from typing import List, Tuple, Iterable, Optional
from collections import Counter

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_validate
from sklearn.metrics import make_scorer, precision_score, recall_score, f1_score
from sklearn.metrics import (
    accuracy_score, classification_report, confusion_matrix, PrecisionRecallDisplay
)
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import holidays
from datetime import timedelta
from pandarallel import pandarallel
from src.feature_extraction.date_amnt_feats import create_date_feats, create_amnt_feats
from src.feature_extraction.holiday_feats import add_custom_holidays, holiday_context

## Week 2 (Train Test Split)

In [3]:
inflow = pd.read_parquet('/uss/hdsi-prismdata/q1-ucsd-inflows.pqt')
outflow = pd.read_parquet('/uss/hdsi-prismdata/q1-ucsd-outflows.pqt')

# remove rows where memo = category
outflow = outflow[outflow['memo'] != outflow['category']]

outflow_ids = set(outflow["prism_consumer_id"].unique())
inflow_ids = set(inflow["prism_consumer_id"].unique())

in_not_out = inflow_ids - outflow_ids
out_not_in = outflow_ids - inflow_ids

#consumers in both inflow and outflow
consumers_both = sorted(set(inflow["prism_consumer_id"]).intersection(outflow["prism_consumer_id"]))

#80-20 train test split
train_ids, test_ids = train_test_split(consumers_both, test_size=0.2, random_state=42)

inflow_train = inflow[inflow["prism_consumer_id"].isin(train_ids)]
inflow_test  = inflow[inflow["prism_consumer_id"].isin(test_ids)]

outflow_train = outflow[outflow["prism_consumer_id"].isin(train_ids)]
outflow_test  = outflow[outflow["prism_consumer_id"].isin(test_ids)]

# print(f'Inflow_train: {inflow_train["amount"].median()}\nInflow_test: {inflow_test["amount"].median()}\nOutflow_train: {outflow_train["amount"].median()}\nOutflow_test: {outflow_test["amount"].median()}')

## Week 3 (Cleaning Memos)

### Remove Observed Patterns

In [4]:
## use train_memos.txt to observe patterns from original outflow_train
# unique_memos = np.sort(outflow_train[outflow_train['memo']!=outflow_train['category']]['memo'].str.lower().unique())
# np.savetxt("train_memos.txt", unique_memos, fmt="%s")

In [5]:
m = outflow_train[outflow_train['memo']!=outflow_train['category']]['memo'].str.lower()
clean = m.copy(deep = True)

websites = re.compile(r'\b(?:www\.)?([a-wy-z0-9]+)[.\s](com|com|net|org|gov)\b', flags=re.IGNORECASE)

# extract website domain
def extract_domain(text):
    m = websites.search(text)
    if m:
        return m.group(1)
    else:
        return text

clean = clean.apply(extract_domain)

In [6]:
patterns = [r'^#\d*x*\s', #starting number signs with following 0 or more digits inlcuding x then space
            r'\(?(?:\d|x){3}\)?(?:\s|-)(?:\d|x){3}(?:\s|-)(?:\d|x){4}', # phone numbers in various formats
            r'(?:\s|^)[^A-Za-z0-9]?x+(?:[^A-Za-z0-9]+x+)*(?:\s|$)', #various sequences of trailing x
            r'\b[^A-Za-z0-9](al|ak|az|ar|ca|co|ct|de|fl|ga|hi|id|il|ia|ks|ky|me|md|ma|mi|mn|ms|mo|mt|ne|nv|nh|nj|nm|ny|nc|nd|oh|ok|or|pa|ri|sc|sd|tn|tx|ut|vt|va|wa|wv|wi|wy|dc)(?![A-Za-z0-9])\b',
            #state abbreviations besides 'in' bc ex: in n out
            r'\bin$', #ending 'in' state and la
            r'(?:in)?\scard\s\d{2}\s?',
            # format ex: card 20 unless in card 20
            r'\b\d{2}[/-]\d{2}(?:[/-]\d{2,4})?\b', #dates
            r'\d{2}\:\d{2}(?:\:\d{2})?[ap]?m?', #time stamps
            r'(?:date\s)?\%\%(?:\smcc)?', #format ex: %% mcc
            r'#[A-Za-z0-9]+$' #ending #_____
           ]

for p in patterns:
    clean = clean.str.replace(p, ' ', regex=True)
    clean = clean.str.replace(r'\s+', ' ', regex=True).str.strip()

changed_mask = m != clean
changed_items = m[changed_mask]
changed_count = changed_mask.sum()

print("Changed count:", changed_count)

Changed count: 605120

In [7]:
clean = clean.reindex(outflow_train.index)
outflow_train['cleaned_memo'] = clean.fillna(outflow_train['memo'])
outflow_train = outflow_train[['prism_consumer_id', 'prism_account_id', 'memo', 'cleaned_memo', 'amount', 'posted_date', 'category']]  
outflow_train[outflow_train['cleaned_memo'] != outflow_train['memo']][['memo','cleaned_memo']]

/tmp/ipykernel_383/730543736.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outflow_train['cleaned_memo'] = clean.fillna(outflow_train['memo'])

,memo,cleaned_memo
2,TST* Casa Del Rio - Exp Fairlawn OH 09/24,tst* casa del rio - exp fairlawn
4,Buffalo Wild Wings,buffalo wild wings
6,Oculus CA 04/16,oculus
7,LOS GIRASOLES STOW OH 03/08,los girasoles stow
8,BUZZIS LAUNDRY 1 OH 03/28,buzzis laundry 1
...,...,...
2595705,PURCHASE 01-14 PUREKANA XXX-XXXXXXX NJ VNT XXXX,purchase purekana vnt
2595706,PURCHASE 01-18 WAL-MART #XXXX HUTCHINSON KS S...,purchase wal-mart hutchinson srf
2595708,PURCHASE 01-27 CLKBANK*MoonReading XXX-XXX-XXX...,purchase clkbank*moonreading vnt
2595709,PURCHASE 01-26 CASH APP*DIANA STIE XXXXXXXXXX ...,purchase cash app*diana stie vnt
2595710,PURCHASE 01-26 CASH APP*DIANA STIE XXXXXXXXXX ...,purchase cash app*diana stie vnt

### Build n-gram

In [8]:
# n-gram
def tokenize(text: str, lowercase: bool = True) -> List[str]:
    if lowercase:
        text = text.lower()
    # Keep words, numbers, and apostrophes; split by comma later
    return re.findall(r"[a-z0-9']+", text)

def generate_ngrams(tokens: List[str], n: int) -> Iterable[Tuple[str, ...]]:
    """Generate n-grams of size n from tokens."""
    if n <= 0:
        raise ValueError("n must be >= 1")
    if len(tokens) < n:
        return []
    return zip(*[tokens[i:] for i in range(n)])

def most_common_ngrams(
    text: str,
    n: int = 1,
    top_k: int = 10,
    stopwords: Optional[Iterable[str]] = None,
    min_token_len: int = 1,
) -> List[Tuple[str, int]]:
    # Split the text into comma-separated segments
    segments = [seg.strip() for seg in text.split(",") if seg.strip()]

    all_tokens = []
    for seg in segments:
        tokens = tokenize(seg)
        if stopwords:
            sw = set(stopwords)
            tokens = [t for t in tokens if t not in sw]
        if min_token_len > 1:
            tokens = [t for t in tokens if len(t) >= min_token_len]
        all_tokens.append(tokens)

    # Build all n-grams up to length n within each segment
    grams = []
    for tokens in all_tokens:
        for i in range(1, n + 1):
            grams.extend(" ".join(g) for g in generate_ngrams(tokens, i))

    counts = Counter(grams)
    return counts.most_common(top_k)

In [9]:
# perform n-gram to find most common patterns with <= n tokens

# create corpus using all unique cleaned_memos in outflow_train
memos = outflow_train[outflow_train['memo']!=outflow_train['category']]['cleaned_memo'].unique()
memos = ', '.join(memos)
memos[:1000]

"tst* casa del rio - exp fairlawn, buffalo wild wings, oculus, los girasoles stow, buzzis laundry 1, tgi fridays stow, tst* the basement sp cuyahoga fall, lowe's, piada - 39, grubhub, hardees akron, market di state cuyahoga fall, swensons - montrose akron, great clips, apple, wing warehouse cuyah cuyahoga fall, winking lizard - 30, longhorn steak cuyahoga fall, on tap - cuyahoga fa cuyahoga fall, home depot, falls discount tobacc cuyahoga fls, burger king, o'charley's, homedepot, dairy queen, east of chicago - cu cuyahoga fall, giant-eag corpora uniontown, fin's bar & chill pigeon forge, acme no. 12 bai cuyahoga fall ohxxxxxx, taco bell, chick-fil-a, walmart, moe's sw grill cuyahoga fall, texas roadhouse, 39 piada cuyahoga fall, cleveland gaming fairview park, circle k, iah cnbc smartshop houston, bob evans rest stow, kohl's, moe's sw grill akron, wendy's, rays place of fairlawn fairlawn, get go st cuyahoga fall ohxxxxxx, dd doordash dashmart, chipotle mexican grill, swensons - north ak"

In [10]:
n_grams = most_common_ngrams(memos, n=10, top_k=50)
# longer patterns may include shorter patterns --> remove longer ones first
sorted_by_len = sorted(n_grams, key=lambda x: len(x[0]), reverse = True)
sorted_by_len[:10]

[('pos debit visa check card', 6856),
 ('pxxxxxxxxxxxxxxxxx card', 4003),
 ('purchase authorized on', 33710),
 ('sxxxxxxxxxxxxxxx card', 26726),
 ('debit visa check card', 6856),
 ('pxxxxxxxxxxxxxxx card', 5666),
 ('pos debit visa check', 6856),
 ('purchase authorized', 33710),
 ('debit card purchase', 6352),
 ('pxxxxxxxxxxxxxxxxx', 4003)]

In [11]:
m = outflow_train[outflow_train['memo']!=outflow_train['category']]['cleaned_memo'].str.lower()
clean = m.copy(deep = True)

patterns = [r'\b(?:in)?\s[sp]xxxxxxxxxxxxxxx\scard',
            r'\b[sp]?x{3,}',
            r'(?:purchase\s)?authorized(?:\son)?',
            r'debit(?:\scard)?',
            r'visa\s(?:check\s)?card',
            r'withdrawal',
            r'recurring',
            r'checkcard',
            r'purchase',
            r'^[^A-Za-z0-9]|\-\s',
            r'\#[a-zA-Z0-9]+\s'
           ]

for p in patterns:
    clean = clean.str.replace(p, ' ', regex=True)
    clean = clean.str.replace(r'\s+', ' ', regex=True).str.strip()

changed_mask = m != clean
changed_items = m[changed_mask]
changed_count = changed_mask.sum()

print("Changed count:", changed_count)

Changed count: 367753

### check if any other common patterns can be removed

In [12]:
memos = ', '.join(clean)

max_len = int(outflow_train['cleaned_memo'].str.split().str.len().max())
# find top 50 patterns with <= max_len tokens
n_grams = most_common_ngrams(memos, n=max_len, top_k=50)
# longer patterns may include shorter patterns --> remove longer ones first
sorted_by_len = sorted(n_grams, key=lambda x: len(x[0]), reverse = True)
sorted_by_len[:10]

[('dollar general', 10898),
 ("mcdonald's", 29782),
 ('starbucks', 15166),
 ('cash app', 37056),
 ('doordash', 22096),
 ('7 eleven', 16599),
 ('wal mart', 16281),
 ('circle k', 12553),
 ('afterpay', 10472),
 ('point of', 10160)]

### Use txt file to observe again

In [13]:
# np.savetxt("after_ngram_memos.txt", np.sort(clean.unique()), fmt="%s")

patterns = [r'^\d{2}\-\d{2}(?:\-\d{2,4})?\b', #leading dates
            r'c\#\sdbt\scrd', #format ex: c# dbt crd
            r'\bc\#?$', #ending c or c#
            r'\bcard#$', #ending card#
            r'\s[a-z]{0,2}x{3,}\s', #ex: fxxxx, cxxxx
           ]

for p in patterns:
    clean = clean.str.replace(p, ' ', regex=True)
    clean = clean.str.replace(r'\s+', ' ', regex=True).str.strip()

changed_mask = m != clean
changed_items = m[changed_mask]
changed_count = changed_mask.sum()

print("Changed count:", changed_count)

Changed count: 380312

In [14]:
clean = clean.reindex(outflow_train.index)
outflow_train['cleaned_memo'] = clean.fillna(outflow_train['memo'])
outflow_train = outflow_train[['prism_consumer_id', 'prism_account_id', 'memo', 'cleaned_memo', 'amount', 'posted_date', 'category']]  
outflow_train.head(5)

,prism_consumer_id,prism_account_id,memo,cleaned_memo,amount,posted_date,category
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,tst* casa del rio exp fairlawn,18.42,2022-09-26,FOOD_AND_BEVERAGES
4,0,acc_0,Buffalo Wild Wings,buffalo wild wings,26.47,2022-09-12,FOOD_AND_BEVERAGES
6,0,acc_0,Oculus CA 04/16,oculus,11.73,2022-04-18,GENERAL_MERCHANDISE
7,0,acc_0,LOS GIRASOLES STOW OH 03/08,los girasoles stow,30.04,2022-03-09,FOOD_AND_BEVERAGES
8,0,acc_0,BUZZIS LAUNDRY 1 OH 03/28,buzzis laundry 1,4.16,2022-03-29,GENERAL_MERCHANDISE

In [15]:
outflow_train.sample(50).groupby(['memo','cleaned_memo'])[['amount']].count()

                                                                                                       amount
memo                                               cleaned_memo
7-Eleven                                           7-eleven                                                 2
AFTERPAY XXX-XXXXXXX CA                      10/27 afterpay                                                 1
APPLE.COM/BILL XXX-XXX-XXXX CA               08/23 apple                                                    1
Apple                                              apple                                                    1
Best Buy                                           best buy                                                 1
CASH APP*DORIEEN CO XXX-XXX-XXXX AZ          03/24 cash app*dorieen                                         1
CASH APP*MARLO                                     cash app*marlo                                           1
CHECKCARD XXXX AMERICAN AIRXXXXXXXXXXX FORT WOR... american airxxxxxxxxxxx fort worth                       1
CHECKCARD XXXX Susdewitt Enterprises L XXX-XXXX... susdewitt enterprises l                                  1
Charleys Philly Steaks                             charleys philly steaks                                   1
Chick-fil-A                                        chick-fil-a                                              1
DBT CRD XXXX 05/14/22 XXXXXXX LITTLE FISHER SCR... dbt crd little fisher scranton c#**                      1
DD DOORDASH ELPOLLOLO CA 12/27                     dd doordash elpollolo                                    1
DEBIT CARD DEBIT / auth #XXXXXX 10-19-XXXX MJ S... auth mj s sports bar gulf blvd ste st pe eff. d...       1
Dairy Queen                                        dairy queen                                              2
Debit Purchase -visa Card XXXXapple Cash 1infin... apple cash 1infinitelooca                                1
Doordash                                           doordash                                                 1
Family Dollar                                      family dollar                                            1
Imperial Services Inc                              imperial services inc                                    1
In & Out                                           in & out                                                 1
Jodys Bakery                                       jodys bakery                                             1
Kroger                                             kroger                                                   1
LZC* LegalZoom.com CA 11/10                        legalzoom                                                1
Lyft                                               lyft                                                     1
MOBILE PURCHASE XXXX Subway XXXXX Houston TX XX... mobile subway houston                                    1
McDonald's                                         mcdonald's                                               1
Meijer                                             meijer                                                   2
PAYPAL INST XFER APPLE.COM BILL WEB ID: PAYPALSI77 apple                                                    1
POS 624Z5C AMAZON.COM*1R9 SEATTLE WA ##XXXX        amazon                                                   1
POS Debit - Visa Check Card XXXX - LOWE'S FOODS... pos lowe's foods apex otha l kimbrough pos tran...       1
PURCHASE AUTHORIZED ON 01/01 DOLLAR GENERAL # D... dollar general # dg elm mott                             1
PURCHASE AUTHORIZED ON 02/27 eBay O*10-XXXXX-32... ebay o*10 -32                                            1
PURCHASE AUTHORIZED ON 03/28 THE CHAT LINE XXXX... the chat line                                            1
PURCHASE AUTHORIZED ON 08/10 Amazon Digit*QXXXX... amzn                                                     1
PURCHASE AUTHORIZED ON 09/03 64 - SEPHORA XXXXX... 64 sephora n d dallas                                    1
PURCHASE AUTHORIZED ON 12/20 JAVI`S TACO SHACK ... javi`s taco shack moon visalia                           1
Popeyes                                            popeyes                                                  1
RECURRING PAYMENT AUTHORIZED ON 01/27 GOOGLE *G... payment google *genjoy                                   1
Sony Playstation                                   sony playstation                                         1
Steak 'n Shake                                     steak 'n shake                                           1
Taco Bell                                          taco bell                                                1
Trader Joe's                                       trader joe's                                             1
WAL-MART #XXXX DDA PIN POS PUR        CDXXXX TU... wal-mart dda pin pos pur tulsa                           1
Walmart                                            walmart                                                  1
Withdrawal CONSUMER DEBIT / STARBUCKS STORE XXX... consumer / starbucks store florence date 0 0             1
XXXX PUR AMAZON.COM 2V86A1U12 SEATTLE WA (11/29... amazon                                                   1
XXXXXX PURCHASE Boehs Building S Fairview OK XX... boehs building s fairview                                1

In [16]:
# clean_memos = np.sort(outflow_train[outflow_train['memo']!=outflow_train['category']]['cleaned_memo'].unique())
# np.savetxt("cleaned_train_memos.txt", clean_memos, fmt="%s")

In [17]:
outflow_train.sort_values(by='cleaned_memo')

,prism_consumer_id,prism_account_id,memo,cleaned_memo,amount,posted_date,category
763744,1617,acc_4488,XXX-XXX-XXXX,,633.42,2021-09-17,FOOD_AND_BEVERAGES
306986,672,acc_1961,# XXXX,,150.00,2022-01-19,FOOD_AND_BEVERAGES
306988,672,acc_1961,# XXXX,,250.00,2022-05-26,FOOD_AND_BEVERAGES
307058,672,acc_1961,# XXXX,,33.00,2022-03-18,FOOD_AND_BEVERAGES
307066,672,acc_1961,# XXXX,,10.00,2022-05-27,FOOD_AND_BEVERAGES
...,...,...,...,...,...,...,...
5128,12,acc_28,DEBIT CARD PURCHASE / | ON 10/03 AT TST SUNFLO...,| on at tst sunflower drive in| fair oaks |,35.59,2020-10-05,FOOD_AND_BEVERAGES
4931,12,acc_28,DEBIT CARD PURCHASE / | ON 09/15 AT TUG BOAT F...,| on at tug boat fish n chips 2| fair oaks |,45.75,2021-09-17,FOOD_AND_BEVERAGES
5089,12,acc_28,DEBIT CARD PURCHASE / | ON 05/15 AT VINTAGE CH...,| on at vintage charm antiques| loomis |,158.02,2021-05-17,GENERAL_MERCHANDISE
5207,12,acc_28,DEBIT CARD PURCHASE / | ON 01/06 AT WAYSIDE LU...,| on at wayside lumber inc| |,262.18,2021-01-07,GENERAL_MERCHANDISE
4796,12,acc_28,DEBIT CARD PURCHASE / | ON 04/12 AT WENDY S TR...,| on at wendy s trade ce| rancho cordov,3.45,2021-04-12,FOOD_AND_BEVERAGES

In [18]:
outflow_train.loc[307802]

prism_consumer_id                   672
prism_account_id               acc_1961
memo                             # XXXX
cleaned_memo
amount                            150.0
posted_date                  2022-04-28
category             FOOD_AND_BEVERAGES
Name: 307802, dtype: object

In [19]:
outflow_train

,prism_consumer_id,prism_account_id,memo,cleaned_memo,amount,posted_date,category
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,tst* casa del rio exp fairlawn,18.42,2022-09-26,FOOD_AND_BEVERAGES
4,0,acc_0,Buffalo Wild Wings,buffalo wild wings,26.47,2022-09-12,FOOD_AND_BEVERAGES
6,0,acc_0,Oculus CA 04/16,oculus,11.73,2022-04-18,GENERAL_MERCHANDISE
7,0,acc_0,LOS GIRASOLES STOW OH 03/08,los girasoles stow,30.04,2022-03-09,FOOD_AND_BEVERAGES
8,0,acc_0,BUZZIS LAUNDRY 1 OH 03/28,buzzis laundry 1,4.16,2022-03-29,GENERAL_MERCHANDISE
...,...,...,...,...,...,...,...
2595705,5939,acc_9522,PURCHASE 01-14 PUREKANA XXX-XXXXXXX NJ VNT XXXX,purekana vnt,116.58,2023-01-17,GENERAL_MERCHANDISE
2595706,5939,acc_9522,PURCHASE 01-18 WAL-MART #XXXX HUTCHINSON KS S...,wal-mart hutchinson srf,12.54,2023-01-18,GROCERIES
2595708,5939,acc_9522,PURCHASE 01-27 CLKBANK*MoonReading XXX-XXX-XXX...,clkbank*moonreading vnt,11.00,2023-01-27,GENERAL_MERCHANDISE
2595709,5939,acc_9522,PURCHASE 01-26 CASH APP*DIANA STIE XXXXXXXXXX ...,cash app*diana stie vnt,16.00,2023-01-27,GENERAL_MERCHANDISE
2595710,5939,acc_9522,PURCHASE 01-26 CASH APP*DIANA STIE XXXXXXXXXX ...,cash app*diana stie vnt,16.00,2023-01-27,GENERAL_MERCHANDISE

## Week 4 (Feature Creation and Baseline Testing)

In [20]:
outflow_train = create_amnt_feats(outflow_train)

In [21]:
from src.feature_extraction.holiday_feats import add_custom_holidays, holiday_context

# 1️⃣ Define base holiday calendar
years = range(
    outflow_train['posted_date'].dt.year.min(),
    outflow_train['posted_date'].dt.year.max() + 1
)
us_holidays = {d: name for y in years for d, name in holidays.UnitedStates(years=[y]).items()}

# # 2️⃣ Add custom holidays like Black Friday & Cyber Monday
# def add_custom_holidays(years):
#     custom = {}
#     for y in years:
#         # Find Thanksgiving (4th Thursday of November)
#         thanksgiving = [
#             d for d, name in holidays.UnitedStates(years=[y]).items()
#             if "Thanksgiving" in name
#         ][0]

#         # Custom additions
#         black_friday = thanksgiving + timedelta(days=1)
#         cyber_monday = black_friday + timedelta(days=3)

#         custom[black_friday] = "Black Friday"
#         custom[cyber_monday] = "Cyber Monday"
#     return custom

custom_holidays = add_custom_holidays(years)

us_holidays = {
    d: name
    for y in years
    for d, name in holidays.UnitedStates(years=[y]).items()
}

# Combine federal + custom holidays
all_holidays = {**us_holidays, **custom_holidays}
sorted_holidays = sorted(all_holidays.items(), key=lambda x: pd.Timestamp(x[0]))

holiday_dates = [pd.Timestamp(d) for d, _ in sorted_holidays]
holiday_names = [n for _, n in sorted_holidays]


# # 3️⃣ Helper function to compute distances and names
# def holiday_context(date):
#     """Compute holiday context using globally pre-sorted dates."""
    
#     # find prev and next index using search
#     prev_idx = max([i for i, h in enumerate(holiday_dates) if h <= date], default=None)
#     next_idx = min([i for i, h in enumerate(holiday_dates) if h >= date], default=None)

#     days_since_prev = (date - holiday_dates[prev_idx]).days if prev_idx is not None else None
#     days_until_next = (holiday_dates[next_idx] - date).days if next_idx is not None else None
    
#     prev_name = holiday_names[prev_idx] if prev_idx is not None else None
#     next_name = holiday_names[next_idx] if next_idx is not None else None

#     return pd.Series({
#         'days_since_prev_holiday': days_since_prev,
#         'days_until_next_holiday': days_until_next,
#         'prev_holiday': prev_name,
#         'next_holiday': next_name
#     })

# Initialize pandarallel (enable tqdm progress bar)
pandarallel.initialize(progress_bar=False, verbose=0)

# Parallelized apply across CPU cores
outflow_train[['days_since_prev_holiday', 'days_until_next_holiday',
               'prev_holiday', 'next_holiday']] = (
    outflow_train['posted_date']
    .parallel_apply(lambda x: holiday_context(x, holiday_dates, holiday_names))
)

In [22]:
outflow_train

,prism_consumer_id,prism_account_id,memo,cleaned_memo,amount,posted_date,category,day_of_week,month,quarter,...,days_since_first_txn,whole_dollar,month_med_amnt,month_med_amnt_diff,amnt_zscore,log_amnt,days_since_prev_holiday,days_until_next_holiday,prev_holiday,next_holiday
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,tst* casa del rio exp fairlawn,18.42,2022-09-26,FOOD_AND_BEVERAGES,Mon,September,q3,...,224,False,22.66,-4.24,-0.705843,2.966303,21,14,Labor Day,Columbus Day
4,0,acc_0,Buffalo Wild Wings,buffalo wild wings,26.47,2022-09-12,FOOD_AND_BEVERAGES,Mon,September,q3,...,210,False,22.66,3.81,-0.288038,3.313095,7,28,Labor Day,Columbus Day
6,0,acc_0,Oculus CA 04/16,oculus,11.73,2022-04-18,GENERAL_MERCHANDISE,Mon,April,q2,...,63,False,26.68,-14.95,0.000000,2.543961,56,42,Washington's Birthday,Memorial Day
7,0,acc_0,LOS GIRASOLES STOW OH 03/08,los girasoles stow,30.04,2022-03-09,FOOD_AND_BEVERAGES,Wed,March,q1,...,23,False,26.19,3.85,-0.328565,3.435277,16,82,Washington's Birthday,Memorial Day
8,0,acc_0,BUZZIS LAUNDRY 1 OH 03/28,buzzis laundry 1,4.16,2022-03-29,GENERAL_MERCHANDISE,Tue,March,q1,...,43,False,26.19,-22.03,0.000000,1.640937,36,62,Washington's Birthday,Memorial Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595705,5939,acc_9522,PURCHASE 01-14 PUREKANA XXX-XXXXXXX NJ VNT XXXX,purekana vnt,116.58,2023-01-17,GENERAL_MERCHANDISE,Tue,January,q1,...,713,False,19.48,97.10,0.000000,4.767119,1,34,Martin Luther King Jr. Day,Washington's Birthday
2595706,5939,acc_9522,PURCHASE 01-18 WAL-MART #XXXX HUTCHINSON KS S...,wal-mart hutchinson srf,12.54,2023-01-18,GROCERIES,Wed,January,q1,...,714,False,19.48,-6.94,0.000000,2.605648,2,33,Martin Luther King Jr. Day,Washington's Birthday
2595708,5939,acc_9522,PURCHASE 01-27 CLKBANK*MoonReading XXX-XXX-XXX...,clkbank*moonreading vnt,11.00,2023-01-27,GENERAL_MERCHANDISE,Fri,January,q1,...,723,True,19.48,-8.48,0.000000,2.484907,11,24,Martin Luther King Jr. Day,Washington's Birthday
2595709,5939,acc_9522,PURCHASE 01-26 CASH APP*DIANA STIE XXXXXXXXXX ...,cash app*diana stie vnt,16.00,2023-01-27,GENERAL_MERCHANDISE,Fri,January,q1,...,723,True,19.48,-3.48,0.000000,2.833213,11,24,Martin Luther King Jr. Day,Washington's Birthday
2595710,5939,acc_9522,PURCHASE 01-26 CASH APP*DIANA STIE XXXXXXXXXX ...,cash app*diana stie vnt,16.00,2023-01-27,GENERAL_MERCHANDISE,Fri,January,q1,...,723,True,19.48,-3.48,0.000000,2.833213,11,24,Martin Luther King Jr. Day,Washington's Birthday

In [43]:
outflow_train_feat['amnt_zscore'].replace([np.inf, -np.inf], 0, inplace=True)

/tmp/ipykernel_450/3126451093.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  outflow_train_feat['amnt_zscore'].replace([np.inf, -np.inf], 0, inplace=True)

In [46]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

# -------------------------
# Identify your feature columns
# -------------------------
text_col = "cleaned_memo"

cat_cols = ["day_of_week", "month", "quarter", "year", "whole_dollar"]
num_cols = [
    "days_since_prev",
    "avg_days_between_txn",
    "rolling_avg_days_between_txn",
    "days_since_first_txn",
    "month_med_amnt",
    "month_med_amnt_diff",
    "amnt_zscore",
    "log_amnt"
]
X_train = outflow_train_feat
y_train = outflow_train_feat['category']
X_test = outflow_test_feat
y_test = outflow_test_feat['category']
# -------------------------
# Create Preprocessing
# -------------------------
preprocess = ColumnTransformer(
    transformers=[
        ("text", TfidfVectorizer(max_features=1000, ngram_range=(1, 5)), text_col),
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols),
        ("num", StandardScaler(), num_cols),
    ]
)

# -------------------------
# Full Pipeline
# -------------------------
pipe = Pipeline([
    ("preprocess", preprocess),
    ("clf", LogisticRegression(max_iter=1000, n_jobs=-1))
])

# -------------------------
# Train
# -------------------------
pipe.fit(X_train, y_train)

# -------------------------
# Predict
# -------------------------
y_pred = pipe.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

ValueError: columns are missing: {'cleaned_memo'}

In [42]:
print("Any NaN?:")
print(outflow_test_feat[num_cols].isna().any())

print("\nAny infinity?:")
print(np.isinf(outflow_test_feat[num_cols]).any())

print("\nWhich columns have inf?:")
for col in num_cols:
    if np.isinf(outflow_test_feat[col]).any():
        print("INF in:", col)

Any NaN?:
days_since_prev                 False
avg_days_between_txn            False
rolling_avg_days_between_txn    False
days_since_first_txn            False
month_med_amnt                  False
month_med_amnt_diff             False
amnt_zscore                     False
log_amnt                        False
dtype: bool

Any infinity?:
days_since_prev                 False
avg_days_between_txn            False
rolling_avg_days_between_txn    False
days_since_first_txn            False
month_med_amnt                  False
month_med_amnt_diff             False
amnt_zscore                     False
log_amnt                        False
dtype: bool

Which columns have inf?:

### TFIDF

In [22]:
tfidf = TfidfVectorizer(
    max_features=100,
    ngram_range=(1, 5)
)
tfidf_matrix = tfidf.fit_transform(outflow_train['cleaned_memo'])
tfidf_df = pd.DataFrame(
    tfidf_matrix.toarray(),
    columns=tfidf.get_feature_names_out()
)

In [23]:
tfidf_df.columns

Index(['365', '365 market', '888', 'ach', 'afterpay', 'amazon', 'amzn', 'and',
       'app', 'apple', 'bell', 'burger', 'burger king', 'ca', 'cafe', 'card',
       'cash', 'cash app', 'chick', 'chick fil', 'circle', 'city', 'costco',
       'crd', 'date', 'dbt', 'dd', 'dd doordash', 'dda', 'depot', 'dollar',
       'dollar general', 'donuts', 'doordash', 'dunkin', 'eats', 'eleven',
       'family', 'fil', 'food', 'from', 'general', 'google', 'home',
       'home depot', 'in', 'inc', 'king', 'kroger', 'liquor', 'lyft', 'market',
       'mart', 'mart super', 'mcdonald', 'mobile', 'new', 'of', 'of sale',
       'on', 'payment', 'paypal', 'pin', 'pizza', 'point', 'point of',
       'point of sale', 'pos', 'pos transaction', 'publix', 'pur', 'safeway',
       'sale', 'san', 'signature', 'sq', 'st', 'starbucks', 'store', 'super',
       'taco', 'taco bell', 'target', 'the', 'transaction', 'tst', 'uber',
       'uber eats', 'us', 'usa', 'vending', 'visa', 'wal', 'wal mart',
       'wal mart super', 'walmart', 'web', 'wendy', 'wm', 'www'],
      dtype='object')

In [24]:
mean_tfidf = tfidf_matrix.mean(axis=0).A1
feature_names = tfidf.get_feature_names_out()

tfidf_importance = (
    pd.DataFrame({'term': feature_names, 'mean_tfidf': mean_tfidf})
    .sort_values(by='mean_tfidf', ascending=False)
)

In [25]:
tfidf_importance.head(20)

         term  mean_tfidf
5      amazon    0.049251
9       apple    0.042388
67        pos    0.039540
54   mcdonald    0.030863
95    walmart    0.026600
16       cash    0.024033
15       card    0.023740
6        amzn    0.021223
8         app    0.020763
17   cash app    0.019698
86       uber    0.017173
36     eleven    0.014399
82     target    0.014336
42     google    0.013576
77  starbucks    0.013296
30     dollar    0.012995
60    payment    0.012538
51     market    0.012343
20     circle    0.011386
33   doordash    0.011112

In [19]:
X = outflow_train_add['cleaned_memo']
y = outflow_train_add['category']

max_features_list = [10, 50, 100, 500, 1000]
scores = []

for n in max_features_list:
    pipe = Pipeline([
        ('tfidf', TfidfVectorizer(max_features=n, ngram_range=(1, 5))),
        ('clf', LogisticRegression(max_iter=200))
    ])
    
    score = cross_val_score(pipe, X, y, cv=min(3, len(outflow_train)), scoring='accuracy').mean()
    scores.append(score)
    print(f"max_features={n}, accuracy={score:.3f}")

max_features=10, accuracy=0.517
max_features=50, accuracy=0.706
max_features=100, accuracy=0.736
max_features=500, accuracy=0.823
max_features=1000, accuracy=0.859

### Logistic Regression

In [28]:
X = outflow_train_add['cleaned_memo']
y = outflow_train_add['category']
X_test = outflow_test["memo"]
y_test = outflow_test["category"]
pipe = Pipeline([
    ('tfidf', TfidfVectorizer(max_features=1000, ngram_range=(1, 5))),  # TF-IDF features
    ('clf', LogisticRegression(max_iter=300, n_jobs=-1))                 # Logistic regression classifier
])

#Train the Model
pipe.fit(X, y)
y_pred = pipe.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.8679975678196863

Classification Report:
                     precision    recall  f1-score   support

          EDUCATION       0.71      0.03      0.06       999
 FOOD_AND_BEVERAGES       0.85      0.88      0.86     99154
GENERAL_MERCHANDISE       0.85      0.89      0.87    101953
          GROCERIES       0.95      0.86      0.90     45523
           MORTGAGE       0.80      0.18      0.30       404
          OVERDRAFT       0.98      0.96      0.97       737
               PETS       0.99      0.72      0.84      2454
               RENT       0.71      0.53      0.61       479
             TRAVEL       0.88      0.74      0.80     13080

           accuracy                           0.87    264783
          macro avg       0.86      0.64      0.69    264783
       weighted avg       0.87      0.87      0.87    264783

In [29]:
pipe = Pipeline([
    ('tfidf', TfidfVectorizer(max_features=5000, ngram_range=(1, 3))),  # TF-IDF features
    ('clf', LogisticRegression(max_iter=300, n_jobs=-1))                 # Logistic regression classifier
])

#Train the Model
pipe.fit(X, y)
y_pred = pipe.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))
# report train and test accuracy

Accuracy: 0.9232050395984637

Classification Report:
                     precision    recall  f1-score   support

          EDUCATION       0.73      0.39      0.51       999
 FOOD_AND_BEVERAGES       0.91      0.93      0.92     99154
GENERAL_MERCHANDISE       0.91      0.93      0.92    101953
          GROCERIES       0.96      0.93      0.94     45523
           MORTGAGE       1.00      0.46      0.63       404
          OVERDRAFT       0.99      0.97      0.98       737
               PETS       1.00      0.84      0.91      2454
               RENT       0.83      0.67      0.74       479
             TRAVEL       0.98      0.88      0.93     13080

           accuracy                           0.92    264783
          macro avg       0.92      0.78      0.83    264783
       weighted avg       0.92      0.92      0.92    264783

In [29]:
text_col = 'cleaned_memo'
num_cols = ['amount', 'days_since_prev', 'avg_days_between_txn',
            'rolling_avg_days_between_txn']
cat_cols = ['day_of_week', 'month', 'quarter', 'year']

# Combine all features
X = outflow_train_add[[text_col] + num_cols + cat_cols]
y = outflow_train_add['category']
X_test = outflow_test['memo']
y_test = outflow_test['category']

# Preprocessing for each column type
preprocessor = ColumnTransformer(
    transformers=[
        ('text', TfidfVectorizer(max_features=1000, ngram_range=(1, 5)), text_col),
        ('num', StandardScaler(), num_cols),
        ('cat', OneHotEncoder(handle_unknown='ignore'), cat_cols)
    ]
)

# Create the pipeline
pipe = Pipeline([
    ('preprocessor', preprocessor),
    ('clf', LogisticRegression(max_iter=300, n_jobs=-1))
])

# Train the model
pipe.fit(X, y)

# Evaluate
y_pred = pipe.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

ValueError: X does not contain any features, but ColumnTransformer is expecting 9 features